@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&family=Hind:wght@300&family=Poppins:wght@300&display=swap');
/* color theme  */
:root{
    --bg1-color:#2b3338;
    --text-color:#ffff;
    --text2-color:#a7aaa9;
    --text3-color:#2d3338;
}

header{
    background-color: #2D3338;
    padding: 10px;
}
.navbar-brand img
{
    width: 100%;
    object-fit: contain;
}
.nav-link{
    color: var(--text2-color);
    font-size: 15px;
    font-family: 'Flow Circular', cursive;
    font-family: 'Hind', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin: 4px;
}
.nav-link:hover{
    color:white;
}
.nav-link:focus{
    color: var(--text2-color);
}
.navbar-nav .nav-link.active{
    color: white;
    
}
/* header close  */

.section1-icon{
    padding: 15px 0px 15px 0px;
}
.section1-icon .fa-circle-arrow-left{
    font-size: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: var(--bg1-color);
    color: white;
    padding: 13px;
    border-radius: 5px;
}
/* section-icon close   */

.section3{
    padding: 50px 0px 50px 0px;
}
.section3 .heading h1{
    font-size: 35px;
    margin: 0 12%;
    color: var(--text3-color);
    font-weight: 700;
    font-family: 'Flow Circular', cursive;
    font-family: 'Hind', sans-serif;
    font-family: 'Poppins', sans-serif;
    position: relative;
}
.section3  h1::before{
    position: absolute;
    content: '';
    height: 5px;
    width: 0%;
    bottom:-15%;
    left: 0%;
    right: 0%;
    background-color:var(--bg1-color);
    transition: 0.4s;
}
.section3 h1:hover::before{
    width: 35%;
}
.section3 .style-div{
    background-color: white;
    min-height: 300px;
    border-radius: 4px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.section3 .style-div .text{
    font-size: 21px;
    color: black;
    font-weight: 700;
    
}
.section3 button{
    height: 55px;
    width: 140px;
    background-color: transparent;
    color: var(--text3-color);
    font-size: 17px;
    margin: auto;
    display: block;
    border: none;
    outline: none;
    font-family: sans-serif;
    font-weight: 600;
    position: relative;
}  
.section3 button::before{
    position: absolute;
    content: '';
    height: 0px;
    width: 0px;
    left: 0%;
    top: 0%;
    transition: 0.4s;
    border: 2px solid transparent;
}
.section3 button:hover::before{
    height: 55px;
    width: 140px;
    border-left: 4px solid var(--bg1-color);
    border-top: 4px solid var(--bg1-color);
}
.section3 button::after{
    height: 0px;
    width: 0px;
    position: absolute;
    content: '';
    border: 1px solid transparent;
    right: 0%;
    bottom: 0%;
    transition: 0.4s;
}
.section3 button:hover::after{
    height: 55px;
    width: 140px;
    border-right: 4px solid var(--bg1-color);
    border-bottom: 4px solid var(--bg1-color);
}
#player-container #play-pause {
    cursor: pointer;
    text-indent: -999999px;
    height:70px;
    width: 70px;
    padding: 20px;
    z-index: 2;
     background-color: white;
    background-repeat:no-repeat;
    background-position:center;
    background-size:55px;
    margin: auto;
    border-radius: 50%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .play {
    background-image: url(../images/1.png);
    background-repeat: no-repeat;
  }
  .pause {
    background-repeat: no-repeat;
    background-image: url("../images/2.png");
  }